/6семестр/Методы Оптимизации и Исследования Операций/*.mp4
/5семестр/Учебная практика/
/6семестр/Теория конечных графов/.idea/
/6семестр/Теория конечных графов/datasets/
/6семестр/Теория конечных графов/Landmarks_BFS/results/
/.idea/
/анкета на отправку/