# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\DanPa\OneDrive\Рабочий стол\Учёба\4 семестр\Алгоритмы и структуры данных\LSD-sort\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
